 <!-- Home Page of the application -->
 <% if(title=="Home") {%>
        <style>
          body 
          {
          min-height: 100%;
          background-image: url('/Assets/images/background_image.jpg');
          background-size: cover;
          background-position:center center;
          background-position: center center;
          background-attachment: fixed;
            }
        </style>
        
         <div class="text-block">
          <p>Welcome to my Portfolio Website</p>
          <p> I am Shrikant <i class="fas fa-user-astronaut" style="font-size: 30px;"></i> </p> 
        </div>

          <div class="text-block2">
          <p style="font-weight:bold">Mission Statement</p>
          <p>To create innovative technology solutions that will improve the lives of people around the globe.</p>
          </div>

         

          <div class="container">
          <form method="POST" action="/home">
           <input type="submit" value="About Me" class="btn btn-outline-dark"/>
            </form> 
            </div>
         
         
        </div><% } %> 

