<!-- Services Page -->
<% if(title=="Services") {%>
   <div >
    <h1 class="services"> <%= title %> </h1>
   </div>
    
    <div class="container-fluid">
     <div class="row">
        <div class="col"> 
        <div class="icon">
         <i class="fas fa-user-edit" style="font-size:3rem"></i>
         </div>
         <br>
         <br>
         <div >
         <h4 class="icon-caption"> Writing service </h4>
        <br>
         <p> A wide spectrum of professional essay writing <br>
             services. Contact me for any enquiries and to <br>
             know more.</p>
         </div>

         </div>
         <div class="col"> 
         <div class="icon">
         <i class="fas fa-laptop-code" style="font-size:3rem" ></i>
         </div>
         <br>
         <br>
         <h4 style="padding-left:13px"> Front - End Development </h4>
        <br>
         <p> Learn frontend web development in private <br>
             1-1 sessions and develop employable skills.<br>
             Fill out the form on Contacts page to <br>
             schedule a free trial class.</p>
         </div>
         <div class="col"> 
         <div class="icon">
         <i class="fas fa-mobile" style="font-size:3rem"></i>
         </div>
        <br>
        <br>
         <h4 class="icon-caption2"> Mobile Application </h4>
        <br>
         <p>Get an end to end professional android app <br>
            for your business or personal brand. Contact<br>
            for enquirences and to know more.</p>
          </div>
    </div>
 </div>


   <% } %>