<!-- About Page -->
<% if(title=="About") {%>
    <div class="container">
     <div class="row">
        <div class="col-4">        
           <div class="personal-image">
                     <img src="/Assets/images/picture.png" alt="Trulli" height="260" width="260">
            </div>
            <div class="text-block3">
                      <h2 style="font-size: 3vw" >Shrikant Kale</h1>
                      <h4 style="font-size: 2vw">Student at Centennial College</h4> 
                      <ul>
                      <li>
                      <a href="https://linkedin.com/in/shrikant-kale-06a625140" />
                      <i class="fab fa-linkedin big-icon" style="font-size:2.5rem; color:black"></i>
                      </li> 
                      <li>
                      <a href="https://github.com/shrikale32">
                      <i class="fab fa-github big-icon" style="font-size:2.5rem; color:black" ></i>
                      </a></li>
                      <li>
                      <a href="https://drive.google.com/file/d/1mSnwOsTno_Xlms9dwb-9xaNTXVzRt6gM/view?usp=sharing">
                      <img src="/Assets/images/cv.jpeg" alt="Cv image" width="40" height="40">
                      </li> </a>
                      </ul>


        </div>
         </div>
    <div class="col-8">
         <div class="about-me">
            <h1 style="font-size: 4vw">About Me</h1>
            <p></p>
            <p>I am a Computer Science Graduate, currently enrolled in "Software Engineering Technology - <br>
             Artificial Intellienge" program in Centennial College.</p>
            <p>I have 1.5 years of experience at an IT MNC Company, where I got an opportunity to work as <br>
             a Cybersecurity Developer in the domain of "Identity and Privileged Access Management".</p>
            <p>I love to solve problems. Whether it’s writing the most efficient code or figuring out the best recipe <br> 
               for pasta. I love the challenge of finding a way and discovering solutions. Maybe that's why I like <br>
               the field of Technology, as it has ample opportunities to puzzle over a challenge.</p>
              <p>I am passionate about Machine Learning, and Artificial Intelliegence and want to use these technologies<br>
               to solve the various socio-economic problems we face today.</p>

          </div>
     </div>
  </div>
     

     
<% } %>
