<!--Bottom Nav -->
  <footer>
    <nav class="navbar fixed-bottom navbar-dark" style="background-color: #21272b;">
      <h6 class="display-6 navbar-text">&copy;Copyright 2021. All Rights Reserved.</h6>
    </nav>
  </footer>