<% if(title=="Projects") {%>
   <div>
    <h1 class="projects"> <%= title %> </h1>
   </div>
    
    <div class="container-fluid">
     <div class="row">
        <div class="col"> 
        <div class="project1">
         <img src="/Assets/images/project1.jpeg" alt="Project1" height="200" width="350">
         <br>
         <br>
        <h6 style="font-weight:700; padding-left:20px"> Web based software for Fire Safety Inspection</h6>
        <p> A web based software created using JSP, MySQL, 
        <br> JDBC and other technologies for fire safety inspectors
        <br> to conduct fire inspections efficiently.</p>
         </div>

         </div>
         <div class="col"> 
             <div class="project">
                 <img src="/Assets/images/project2.jpeg" alt="Project1" height="200" width="350">
                 <br>
                 <br>
                 <h6 style="font-weight:700; padding-left:70px">Python Chatbot using NLP</h6>
                 <p> A python chatbot project using Natural Language<br>
                      Processing and Machine Learning I am working on
                      <br> in my free time..</p>
         </div>
        
         
         </div>
         <div class="col"> 
         
         <div class="project">
                 <img src="/Assets/images/project3.jpeg" alt="Project1" height="200" width="350" style="padding-right:10px">
                 <br>
                 <br>
                 <h6 style="font-weight:700; padding-left:50px">To-do List Android Application</h6>
                 <p style="padding-left:10px"> Working on a beginner To-do List android <br>
                 application with few of my friends to add to 
                 <br>our portfolio.</p>
         </div>





          </div>
    </div>
 </div>


   <% } %>